@font-face {
  font-family: "Header";
  src: url(../assets/font/RobotoSlab-SemiBold.ttf);
}

/*Main Changes*/

#fontHeader {
  font-family: "Header";
}

body {
  color: #738054 !important;
  background-color: #a3a86d !important;
}

#cursor-default:hover {
  cursor: default;
}

/*NavBar*/
nav > ul > li > a {
  color: burlywood !important;
  text-decoration: none !important;
  font-size: 25px !important;
}

nav > ul > li > a:hover {
  color: rgb(179, 146, 102) !important;
  transition: 100ms ease-in-out !important;
}

nav > ul > li {
  display: inline-block !important;
  padding-top: 10px !important;
  padding-right: 150px !important;
}

nav > ul {
  display: inline-block !important;
}

.custom {
  background-color: bisque !important;
}

/* Who am I*/

.whoAmI {
  text-align: right;
}
