@font-face {
    font-family: "Header";
    src: url(../assets/font/RobotoSlab-SemiBold.ttf);
}

/*Main Changes*/


#fontHeader {
    font-family: "Header";
}

body {
    color: #738054 !important;
    background-color: #A3A86D !important;
}

#cursor-default:hover {
    cursor: default;
}

/*NavBar*/

nav>ul>li>a {
    color: burlywood;
    text-decoration: none;
    font-size: 25px;
}

nav>ul>li>a:hover {
    color: rgb(179, 146, 102);
    transition: 100ms ease-in-out;
}

nav>ul>li {
    display: inline-block;
    padding-top: 10px;
    padding-right: 150px;
}

nav>ul {
    display: inline-block;
}

.custom {
    background-color: bisque;
}